[submodule "auth-service"]
	path = auth-service
	url = https://github.com/SnackLog/auth-service
[submodule "database-api-wrapper"]
	path = database-api-wrapper
	url = https://github.com/SnackLog/database-api-wrapper
[submodule "recipe-service"]
	path = recipe-service
	url = https://github.com/SnackLog/recipe-service
[submodule "meal-service"]
	path = meal-service
	url = https://github.com/SnackLog/meal-service.git
